.add-comment {
    margin-block-end: 17px;
    border: none;
    outline: none;
    &::placeholder {
        color: #737373;
        font-weight: 400;
    }
}

.form-add-comment {
    display: flex;
    align-items: center;
    justify-content: space;
    position: relative;
    width: 100%;
    margin-block-end: 17px;

    .add-comment {
        width: 85%;
        font-family: inherit;
        font-size: 14px;
        line-height: 18px;
        cursor: text !important;
        resize: none;
        overflow-wrap: break-word;
        overflow: auto;
        // background-color: red;
    }

    .submit-comment-button {
        // position: absolute;
        // right: 9px;
        background: unset;
        // margin: 0;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        cursor: pointer;
        color: #0095f6;
        &:hover {
            color: black;
        }
    }
    .toggle-emoji-picker {
        position: absolute;
        right: 0;
        // background-color: red;
        cursor: pointer;
    }
}

.story-addcomment {
    padding: 16px;
    .form-add-comment {
        margin-block-start: 13px;
        // position: relative;
        // flex-direction: column-reverse;

        .add-comment {
            margin-block-end: 0;
        }
    }

    .toggle-emoji-picker {
        position: absolute;
        // background-color: red;
        cursor: pointer;
    }

    .submit-comment-button {
        // right: ;
    }
}
