.logo-container {
    display: flex;
    // position: absolute;
    align-items: center;
    width: 220px;
    // height: 92px;
    height: 50px;
    margin-block-end: 19px;
    padding: 25px 12px 16px 12px;
    // background-color: transparent;

    .logo {
        // background-color: red;
        width: 103px;
        height: 29px;
    }
}

.nav-bar {
    flex-direction: column;
    .icons-row {
        // background-color: red;
        display: flex;
        align-items: center;
        // width: 220px;

        width: 100%;
        height: 48px;
        cursor: pointer;
        margin-block: 4px;
        padding: 12px;
        color: #000000;

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.05);
            border-radius: 8px;
            transition: background-color 0.3s ease 0s;
            .icon-img {
                transform: scale(1.05);
                transition: scale 0.7s;
            }
        }

        &.active {
            font-weight: 700;
        }

        .icon-text {
            margin-block: 12px;
            margin-inline-start: 16px;
            // width: 45px;
            width: 100%;
            height: 20px;

            font-size: rem(16px);
            line-height: 20px;
        }

        .icon-img,
        .avatar {
            width: 24px;
            height: 24px;
        }
    }
}

.icons-container {
}

.icons-row.more {
    position: absolute;
    left: 12px;
    bottom: 3px;
    margin-block-end: 24px;
    max-width: 220px;
}

@media only screen and (max-width: 766px) {
    main {
        display: flex;
    }
    .homepage {
        width: 100%;
        grid-template-columns: minmax(auto, 20px) 1fr minmax(auto, 20px);
        overflow-x: hidden;
        .suggestion {
            display: none;
        }
        .story-interaction-container {
            padding-inline-start: 10px;
            padding-inline-end: 10px;
        }
    }

    .nav-bar {
        // position: fixed;
        // min-width: 72px;
        padding: 5px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 1px 1px #000; // delete later
        max-width: 100%;
        flex-direction: row;
        // flex: 0.05;
        position: fixed;
        height: fit-content;
        width: 100%;
        top: unset;
        bottom: 0;
        z-index: 1000;

        .logo-container {
            display: none;
        }

        // .icons-container {
        //     flex-direction: row;
        //     position: fixed;
        //     bottom: 0;
        //     width: 100%;
        //     background-color: #fff;
        //     left: 0;
        //     z-index: 20;
        //     .icon-more {
        //         display: none;
        //     }
        // }

        .icons-row {
            width: 100%;
            justify-content: space-evenly;
            &.more,
            &.explore,
            &.message,
            &.notification {
                display: none;
            }
            &:hover {
                background-color: unset;
            }
        }

        .icon-text {
            display: none;
        }
    }
}

@media only screen and (min-width: 1265px) {
    .nav-bar {
        // position: fixed;
        // min-width: max-content;
        // z-index: 10000;
        .icon-text {
            display: block;
        }
    }
}
