.story-preview {
    .pulse {
        animation: pulse !important;
        animation-duration: 1s !important;
    }

    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-block-end: 10px;
    .story-header {
        // position: relative;
        @include story-header-mixin;
        margin-block-end: 10px;
        .icon-img {
            cursor: pointer;
        }
    }
    .story-img {
        max-height: 585px;
    }

    .story-interaction-container {
        .like-count,
        .username,
        .snippet,
        .view-comment,
        .add-comment,
        .snippet-more {
            margin-block-start: 8px;
            line-height: 18px;
            font-size: 14px;
            font-weight: 600;
            color: #000000;
        }

        .loggedin-username:first-of-type {
            margin-block-start: 8px;
            // background-color: green;
        }

        .username {
            cursor: pointer;
            margin-inline-end: 4px;

            &:hover {
                color: #737373;
            }
        }
        .snippet {
            // display: inline-block;
            font-weight: 400;
            // background-color: red;
            line-height: 18px;
            font-size: 14px;
        }

        .view-comment,
        .add-comment,
        .snippet-more {
            color: #737373;
            font-weight: 400;
            cursor: pointer;
        }

        .view-comment {
            margin-block-end: 8px;
        }

        .add-comment {
            margin-block-start: 0px;
            margin-block-end: 0px;
        }

        .snippet-more {
            margin-inline-start: 5px;
        }

        .like-count {
            cursor: pointer;
        }

        .loggedin-username {
            // margin-block-start: 8px;
            margin-block-end: 4px;
            // background-color: red;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;

            .loggedin-user-comment {
                // background-color: blue;
                font-weight: 400;
            }
        }
    }
}
