.modal-content {
    display: flex;
    // width: 100%;

    border-radius: 12px;
    user-select: none;
}

.story-create-header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-block-end: 1px solid #dbdbdb;
    .create-post-share {
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        cursor: pointer;
        color: #0095f6;
        &:hover {
            color: black;
        }
    }

    .icon-img.back {
        // box-sizing: border-box;
        // position: absolute;
        width: 40px;
        height: 40px;
        padding: 8px;
        right: 0;
        cursor: pointer;
    }

    .create-post-title {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }
}

.story-create {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 739px;
    height: calc(100vh - 176px);

    img {
        object-fit: cover; // Asi
        height: 100%; // Asi
        max-height: calc(100vh - 140px); // Asi
    }

    .story-create-form {
        display: grid;
        grid-template-columns: 1fr 339px;
        height: 100%;

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Helvetica, Arial, sans-serif;
        .story-user-text-emoji {
            padding: 16px;
            border-inline-start: 1px solid #dbdbdb;
            .toggle-emoji-picker {
                cursor: pointer;
            }
        }

        .file-error-message {
            grid-column: 1/2;
            color: red;
            font-size: 14px;
            font-weight: 500;
            padding: 5px;
        }

        .story-create-upload {
            width: fit-content;
            height: fit-content;
            background-color: red;
            align-self: center;
            // margin: 0 auto;
            min-height: 100%;
        }
        .story-create-textarea {
            width: 100%;
            height: 168px;
            font-family: inherit;
            font-size: 16px;
            line-height: 24px;

            border: none;
            outline: none;
            resize: none;
            overflow-wrap: break-word;
            overflow: auto;
            &::placeholder {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
                    Roboto, Helvetica, Arial, sans-serif;
                font-size: 16px;
            }
        }

        .image-preview-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .btn-change-image {
                background: #efefef;
                border: none;
                border-radius: 7px;
                cursor: pointer;
                font-size: 14px;
                font-weight: 600;
                height: 32px;
                width: 25%;
                margin-block-start: 10px;
                margin-block-end: 10px;
            }
        }
    }
}

@media (max-width: 766px) {
    .modal-content {
        // flex-direction: column;
        .story-img {
            // max-height: 400px;
        }
        .story-create-form {
            display: flex;
            flex-direction: column;
            max-height: 50%;

            img {
            }
        }
    }
}
