.story-more-options {
    display: grid;
    // min-width: 200px;
    grid-template-columns: minmax(250px, 1fr);
    text-align: center;

    > *:not(:last-child) {
        border-bottom: 1px solid #dbdbdb;
    }
    > * {
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    font-weight: 400;
    font-size: 14px;

    user-select: none;
    cursor: pointer;
}

@media only screen and (max-width: 766px) {
    .story-more-options {
        grid-template-columns: minmax(200px, 1fr);
    }
}
