.story-detail {
    .story-header {
        padding: 14px 4px 14px 16px;
        border: inherit;
        .icon-img {
            // position: absolute;
            width: 30%;
            height: 40px;
            padding: 8px;

            padding-right: 0;
            right: 0;
            cursor: pointer;
        }
    }
}
