.story-preview {
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-block-end: 10px;
    .story-header {
        // position: relative;
        @include story-header-mixin;
        margin-block-end: 10px;
        .icon-img {
            cursor: pointer;
        }
    }
    .story-img {
        max-height: 585px;
    }

    .story-interaction-container {
        .like-count,
        .username,
        .snippet,
        .view-comment,
        .add-comment,
        .snippet-more {
            margin-block-start: 8px;
            line-height: 18px;
            font-size: 14px;
            font-weight: 600;
            color: #000000;
        }
        .username {
            margin-inline-end: 4px;

            &:hover {
                color: #737373;
            }
        }
        .snippet {
            font-weight: 400;
        }

        .view-comment,
        .add-comment,
        .snippet-more {
            color: #737373;
            font-weight: 400;
            cursor: pointer;
        }

        .snippet-more {
            margin-inline-start: 5px;
        }
    }
}
