.story-index {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    max-width: 630px;
    width: 100%;
}

@media only screen and (max-width: 766px) {
    .main-container {
        .story-index {
            margin-top: 0px;
        }
    }
}
