.story-preview {
    .story-preview-header {
        position: relative;
        max-width: 100%;
        line-height: 18px;
        .avatar {
            width: 42px;
            height: 42px;
            margin-inline-end: 12px;
        }

        .username {
            font-weight: 500;
            color: #000000;
            font-size: rem(14px);
            margin-inline-end: 4px;
        }

        .dot {
            font-size: 14px;
            margin-inline-end: 4px;
        }

        .time {
            font-size: 14px;
            color: #737373;
        }

        .location {
            font-size: 12px;
        }
        .icon-img {
            position: absolute;
            width: 40px;
            height: 40px;
            padding: 8px;
            right: 0;
        }
        .username-time-location {
            background-color: green;
            width: 100%;
        }
    }

    .story-img {
        max-height: 585px;
    }

    .story-interaction-container {
        .story-icons {
            position: relative;
            .icon-img {
                width: 24px;
                height: 24px;
                // padding: 8px;
                cursor: pointer;

                margin-block: 8px;
                margin-inline-end: 16px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                mask-size: contain;
                mask-position: center;
                mask-repeat: no-repeat;
                -webkit-mask-size: contain;
                -webkit-mask-position: center;
                -webkit-mask-repeat: no-repeat;
                background-color: #000000;

                &.like {
                    mask-image: url('../../img/svg/notification.svg');
                    -webkit-mask-image: url('../../img/svg/notification.svg');
                }

                &.comment {
                    mask-image: url('../../img/svg/comment.svg');
                    -webkit-mask-image: url('../../img/svg/comment.svg');
                }

                &.share {
                    mask-image: url('../../img/svg/message.svg');
                    -webkit-mask-image: url('../../img/svg/message.svg');
                }

                &.save {
                    mask-image: url('../../img/svg/save.svg');
                    -webkit-mask-image: url('../../img/svg/save.svg');
                    position: absolute;
                    right: 0;
                    margin-inline-end: 0;
                }

                &:hover {
                    background-color: #737373;
                }
            }
        }
        .like-count,
        .username,
        .snippet,
        .view-comment,
        .add-comment {
            margin-block-start: 8px;
            line-height: 18px;
            font-size: 14px;
            font-weight: 600;
            color: #000000;
        }
        .username {
            margin-inline-end: 4px;
        }
        .snippet {
            font-weight: 400;
        }
        .view-comment,
        .add-comment {
            color: #737373;
            font-weight: 400;
        }
        .add-comment {
            border: none;
            outline: none;
            &::placeholder {
                color: #737373;
                font-weight: 400;
            }
        }
    }
}
