* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif;
    line-height: 1.6;
    // color: $clr2;
}

body {
    font-size: rem(18px);
    margin: 0;
    // max-width: 1024px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif;
    margin: 0 0 0.6em;
    line-height: 1;
}

section,
main,
footer {
    // padding: 5px;
}

main {
    display: grid; // Asi
    grid-template-columns: 244px 1fr; // Asi
    gap: 23px; // Asi
    justify-items: center; // Nir
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}
a:hover {
    // text-decoration: underline;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// ::-webkit-scrollbar {
//     display: none;
// }

.story-icons {
    position: relative;
    .icon-img {
        width: 24px;
        height: 24px;
        // padding: 8px;
        cursor: pointer;

        margin-block: 8px;
        margin-inline-end: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        background-color: #000000;

        &.like {
            background-image: url('../../img/svg/notification.svg');

            background-color: white;
            &:hover {
                color: #737373 !important;
                background-color: white;
            }

            &.liked {
                background-color: white;
                background-image: url('../../img/svg/notification-active-like.svg');
            }
        }

        &.comment {
            mask-image: url('../../img/svg/comment.svg');
            -webkit-mask-image: url('../../img/svg/comment.svg');
        }

        &.share {
            mask-image: url('../../img/svg/message.svg');
            -webkit-mask-image: url('../../img/svg/message.svg');
        }

        &.save {
            mask-image: url('../../img/svg/save.svg');
            -webkit-mask-image: url('../../img/svg/save.svg');
            position: absolute;
            right: 0;
            margin-inline-end: 0;
        }

        &:hover {
            background-color: #737373;
        }
    }
}
