.profile-page {
    height: 100vh;
    width: fit-content;
    // width: 100%; // Asi
    grid-column: 2;
    margin: auto;

    // justify-content: center;

    .profile-container {
        // height: 100vh; // Asi
        padding: 30px 0;
        // width: 961px; // Asi
    }

    .profile-header {
        display: grid; // Asi
        grid-template-columns: auto 1fr; // Asi
        gap: 20px;
        align-items: center;

        // justify-content: space-around; // Asi
        margin-bottom: 44px;
        // margin-left: 50px; // Asi

        .profile-photo {
            // margin-right: 30px; // Asi
            // padding: 0 40px; // Asi

            img {
                border-radius: 50%;
                height: 150px;
                object-fit: cover;
                width: 150px;
            }
        }

        .profile-info {
            font-family: Segoe UI;
            font-size: 16px;
            gap: 15px;
            padding-right: 50px;
            // width: 100%; // Asi

            .profile-info-header {
                align-items: center;
                display: flex;
                gap: 20px;
                padding-bottom: 15px;

                a {
                    font-size: 20px;
                }

                div {
                    gap: 10px;
                }

                .follow {
                    background-color: #0095f6;
                    color: #fff;
                }

                button {
                    background: #efefef;
                    border: none;
                    border-radius: 7px;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 600;
                    height: 32px;
                    width: 105px;
                }
            }

            .user-info {
                margin-block-end: 10px;

                section {
                    margin-right: 40px;
                    .user-number {
                        font-weight: 600;
                    }
                }
            }

            .user-bio {
                display: flex;
                flex-direction: column;
                font-size: 15px;

                .user-name {
                    font-weight: 600;
                }
            }
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #dbdbdb;

        .profile-links {
            gap: 50px;
            justify-content: center;

            .profile-pics-link {
                align-items: center;
                color: #c4c4c4;
                cursor: pointer;
                display: flex;
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
                    Helvetica, Arial, sans-serif;
                font-size: 12px;
                font-weight: 600;
                gap: 5px;
                height: 52px;
                justify-content: center;
                letter-spacing: 2px;
                line-height: 18px;

                &.active {
                    border-top: 1px solid #000;

                    color: #000;
                }
            }
        }
    }

    .profile-stories {
        grid-gap: 20px;
        display: grid;
        flex-wrap: wrap;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 961px;
        padding-bottom: 50px;

        img {
            max-height: 307px;
            object-fit: cover;
        }

        .post-info {
            height: 307px;
            position: absolute;
            width: 307px;

            //special - check if this is here
            border-left: 1px solid #dbdbdb;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .likes-comm {
                display: none;
            }

            div {
                align-items: center;
                display: flex;
                gap: 5px;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 766px) {
    .logo-container {
        display: none !important;
    }
    .profile-page {
        .profile-container {
            display: flex;
            justify-content: center;
        }
        .profile-stories {
            img {
            }
            grid-template-columns: 200px 200px 200px;
        }
    }
}
