.story-detail {
    width: 467px;
    // width: 100%;
    font-size: 14px;
    color: #000000;

    border-bottom-color: rgb(239, 239, 239);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(239, 239, 239);
    border-left-style: solid;
    border-left-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .story-text-comments {
        padding: 16px;
        overflow: auto;
        height: 555px;

        &::-webkit-scrollbar {
            display: none;
        }

        p {
            margin: 0;
        }

        .story-avatar-user-text {
            padding: 5px 16px 16px 0;

            .story-txt {
                font-weight: 400;
            }
            .story-time {
                margin-block-start: 8px;
                margin-block-end: 4px;
                color: #737373;
                font-size: 12px;
            }
        }

        .story-username {
            font-weight: 600;
            color: #262626;
        }

        .comment {
            padding-block-start: 12px;

            .comment-text {
                font-weight: 400;
            }

            .comment-username {
                font-weight: 600;
                color: #262626;
            }

            .comment-time {
                margin-block-start: 8px;
                margin-block-end: 4px;
                color: #737373;
                font-size: 12px;
                .comment-reply {
                    font-weight: 600;
                }
            }
        }
    }
}
